<!doctype html>
<html>
  <head>
    <title>MetaChat - {{.Room}}</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0 0 50px 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/_ah/channel/jsapi"></script>
    <script>
			var MetaChat = {};

			MetaChat.room = '{{.Room}}';
			MetaChat.alias = null;

			MetaChat.join = function(alias){
				var request = $.ajax({
			    url: "/join",
			    type: "POST",
			    data: {room : MetaChat.room, name : alias},
			    dataType: "json"
			  });

			  request.done(function(data) {
			    MetaChat.alias = alias;
			    var token = data['token'];
			    var chan = new goog.appengine.Channel(token);
					var sock = chan.open();
					sock.onmessage = function(msg) {
						var d = JSON.parse(msg.data);
						if(d.Type == "chat"){
							var m = "<a href='#' onclick='javascript:MetaChat.promptPM(\"" + d.User + "\")'>" + d.User + "</a>: " + d.Msg; 
							MetaChat.log(m);
						} else if(d.Type == "pm"){
							alert("PM from " + d.User + "\n" + d.Msg);
						}
					}
			  });
			   
			  request.fail(function(jqXHR, textStatus) {
			    var msg = jqXHR.responseText;
			    console.log( "Request failed: " + msg );
			    if(msg == "Name taken\n"){
			    	name = prompt("That name is already taken, please choose another.");
						if (name != null) {
							MetaChat.join(name);
						}
			    }
			  });
			}

			MetaChat.log = function(msg){
				$('#messages').append($('<li>').html(msg));
        window.scrollTo(0,document.body.scrollHeight);
			}

			MetaChat.promptPM = function(to){
				var msg = prompt("Send PM to " + to);
				if (msg != null) {
					MetaChat.pm(msg, to);
				}
			}

			MetaChat.pm = function(msg, to){
				var request = $.ajax({
			    url: "/pm",
			    type: "POST",
			    data: {room : MetaChat.room, msg : msg, to : to, from : MetaChat.alias},
			    dataType: "json"
			  });

			  request.done(function(data) {
			    console.log("PM sent: " + data);
			  });
			   
			  request.fail(function(jqXHR, textStatus) {
			    console.log( "Request failed: " + msg );
			  });
			}

			$(function() {
				var name = prompt("Please enter your name");
				if (name != null) {
					MetaChat.join(name);
				}
				
				$('form').submit(function(){
	        var m = $('#m');
	        $.ajax('/post', {data: {room: MetaChat.room, msg: m.val(), name: MetaChat.alias}});
	        m.val('');
	        return false;
	      });
			});
		</script>
    
  </body>
</html>
